<div class="container">
  <!-- Título -->
  <h2 class="title">Gestión de Categorías</h2>

  <!-- Sección de Crear Categoría -->
  <div class="create-category">
    <h3>Crear Nueva Categoría</h3>
    <input type="text" [(ngModel)]="newCategory" placeholder="Nombre de la nueva categoría" class="input-field" />
    <button (click)="crearCategorias()" class="btn">Crear Categoría</button>
  </div>

  <!-- Mostrar Categorías -->
  <div class="categories-list">
    <h3>Lista de Categorías</h3>
    <ul>
      <li *ngFor="let categoria of categories" class="category-item">
        <span class="category-name">{{ categoria.name }}</span>
        <button (click)="eliminarCategoria(categoria.categoryId)" class="btn btn-danger">Eliminar</button>
        <button (click)="prepararEdicion(categoria)" class="btn btn-edit">Editar</button>
      </li>
    </ul>
  </div>

  <!-- Formulario para Editar Categoría -->
  <div *ngIf="editCategory.id !== null" class="edit-category">
    <h3>Editar Categoría</h3>
    <input type="text" [(ngModel)]="editCategory.name" placeholder="Nuevo nombre de la categoría" class="input-field" />
    <button (click)="actualizarCategoria()" class="btn btn-update">Actualizar</button>
    <button (click)="editCategory = { id: null, name: '' }" class="btn btn-cancel">Cancelar</button>
  </div>

  <!-- Paginación -->
  <div class="pagination">
    <button (click)="paginaAnterior()" [disabled]="page === 0" class="btn btn-pagination">Anterior</button>
    <button (click)="paginaSiguiente()" [disabled]="page >= totalPages - 1"
      class="btn btn-pagination">Siguiente</button>
  </div>
</div>